<div id="home">
<div class="clr">
<div class="top-bg">
    <div class="top-left" >
        <div class="tag">HELLO, <span>I'M JOSH GACHNANG</span></div>
        <div class="sub-tag">PYTHON DEV / SYSADMIN</div>
    </div> 
</div>
    </div>
    <div class="clr">
    <div class="pat-topleft">&nbsp;</div>
    <div class="middle"></div>
    <div class="pat-topright">&nbsp;</div>
    </div>
    <div class="clr pat" >
    <p>Professional Developer and System Administrator focused on <span>clean, secure, easy to use&nbsp;&nbsp;</span>web apps and servers.</p>
    </div>
    <div class="clr">
    <div class="pat-bottomleft">&nbsp;</div>
    <div class="pat-bottomright">&nbsp;</div>
    </div>
    <div class="clr"><h2>Specialising in</h2>
<!--     <div class="special">Lorem ipsum dolor sit amet, habitasse pretium dolor sociis. Nulla et facilisis interdum elit amet.</div> -->
    </div>
    <div class="clr">
    <div> <div class="wordpress">
<!--         <img src='{{ STATIC_URL }}images/python-logo.png'  border="0" width="150" alt=" "  /> -->
        <h3>Python<br />Development</h3>
    </div>
    <div class="jquery">
<!--         <img src='{{ STATIC_URL }}images/django-logo.png'  border="0" width="150" alt=" " /> -->
        <h3>Django<br />Web Apps</h3>
    </div>
    <div class="joomla">
<!--         <img src='{{ STATIC_URL }}images/ubuntu-logo.gif'  border="0" width="150" alt=" "  /> -->
        <h3>Ubuntu<br />Administration</h3></div>
    <div class="html">
<!--         <img src='{{ STATIC_URL }}images/aws-logo.jpg' alt=" " width="150"  border="0" /> -->
        <h3>Amazon<br />Cloud Servers</h3></div>
</div></div>
<div class="clr bottom-space"></div>
</div>
<!--home end -->