{% extends "site_base.html" %}
{% block body %}
<div id="portfolio">
          <div class="clr">
        <div class="top-bg1">
          <div class="top-left">
            <div><h1>Portfolio</h1></div>
            </div> 
          </div>
          <div class="clr">
        <div class="pat-bottomleft">&nbsp;</div>
        <div class="pat-bottomright">&nbsp;</div>
        </div>
          </div>
          <div class="clr"><h6>Coming soon! <a style="color:blue" href="http://github.com/pcsforeducation">For now, just look at my GitHub.</a></h6>
        
          </div>
          <!-- clr end -->
          <div class="clr"></div>
        </div>
        <!-- portfolio end -->
{% endblock %}