<div id="portfolio">
          <div class="clr">
        <div class="top-bg1">
          <div class="top-left">
            <div><h1>Portfolio</h1></div>
            </div> 
          </div>
          <div class="clr">
        <div class="pat-bottomleft">&nbsp;</div>
        <div class="pat-bottomright">&nbsp;</div>
        </div>
          </div>
          <div class="clr"><h6>
        <span> We build great sites <br /></span>Hello, thanks for visiting this section. Here’s a collection of some of my favs.</h6>
          </div>
            <div class="clr hline">&nbsp;</div>
          <div class="clr">
                <div>
                   <ul id="portfolio-filter">   
                        <li><a href="#" class="current" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".webdesign">WebDesign</a></li>
                         <li><a href="#" data-filter=".print">Print</a></li>
                          <li><a href="#" data-filter=".video">Video</a></li>
                        <li><a href="#" data-filter=".photoghraphy">Photoghraphy</a></li>
                       
                  </ul>
                    <ul id="portfolio-list">
                        
                        <li class="webdesign video">
                                  <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/1.jpg"   alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Webdesign, video</span> 
                            </a>
                        </li>                        
                        <li class="photoghraphy print">
                              <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/2.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Phoxtography, Print</span> 
                            </a>
                        </li>
                        <li class="webdesign print">
                              <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/3.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Webdesign, Print</span> 
                            </a>
                        </li>
                        <li class="photography print">
                          <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/4.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Photography, Print</span> 
                          </a>
                        </li>
                        <li class="webdesign video">
                         <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/5.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Webdesign, video</span> 
                          </a>
                       </li>
                        <li class="photoghraphy print">
                         <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/6.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Photography, Print</span> 
                          </a>
                       </li>
                         <li class="photoghraphy print">
                       <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/8.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Photography, Print</span> 
                           </a>
                      </li>
                        <li class="webdesign video">
                         <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/1.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Webdesign, Video</span> 
                          </a>
                        </li>
                        <li class="webdesign print">
                        <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/2.jpg" alt=" " border="0"/>
                                <h5>Project Title 1</h5>
                                <span class="categorie">Webdesign, Print</span> 
                          </a>
                        </li>
                         <li class="webdesign print">
                         <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/3.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Webdesign, Print</span> 
                           </a>
                      </li>
                        <li class="photography print">
                          <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/4.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Photography, Print</span> 
                          </a>
                        </li>
                        <li class="webdesign video">
                        <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/5.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Webdesign, video</span> 
                          </a>
                        </li> 
                        <li class="Photography print">
                        <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/6.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Photography, Print</span> 
                          </a>
                      </li>
                        <li class="webdesign print">
                        <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/7.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Webdesign, Print</span> 
                          </a>
                        </li>
                        <li class="photography print">
                        <a href="http://www.vimeo.com/12158329" title="Project description" class="viewDetail lightbox ">
                                <img src="images/assets/small/8.jpg" alt=" " border="0" />
                                <h5>Project Title 1</h5>
                                <span class="categorie">Photography, Print</span> 
                          </a>
                      </li>
                    </ul>
                    
                </div>
                <!-- demowrap end-->       
          </div>
          <!-- clr end -->
          <div class="clr"></div>
        </div>
        <!-- portfolio end -->
