{% extends "site_base.html" %}
{% block body %}
<!-- resume -->
        <div id="resume">
         <div class="clr">
        <div class="top-bg1">
          <div class="top-left">
            <div><h1>Resume</h1></div>
            </div> 
          </div>
         <div class="clr">
        <div class="pat-bottomleft">&nbsp;</div>
        <div class="pat-bottomright">&nbsp;</div>
        </div>
          </div>
          <div class="clr"><h6>
        <span>Experienced web developer and server administrator.</span> <br />  
        Specialize in developing simple, scalable, and secure web apps and servers.</h6>
          </div>
            <div class="clr hline">&nbsp;</div>
        <div class="resume-top">    
          <div class="clr">
            <div class="left">
              <h2>Relevant Experience <span>&nbsp;</span></h2>
              <h5><b>Djazzee (in progress)</b>: Git driven Django hosting platform, based on OpenStack</h5>
              <h5><b>NetherRacks (in progress)</b>: Minecraft hosting, sharing infrastructure design with Djazzee, and Django-based control panel, based on OpenStack </h5>
              <h5><b>www.ServerCobra.com</b>: Tech blog covering servers, Bash scripting, and Python/Django </h5>
              <h5><b>Github</b>: www.github.com/pcsforeducation </h5>
              <h2>Work Experience <span>&nbsp;</span></h2>
                <h5>Hardware Support - UW Madison <span>Jan 2010 to present </span> </h5>
                <p>Responsible for all labs, assist with networking and 2 server rooms. Leading project to deploy vPro to all desktops, plus management tools and documentation.</p>
                <h5>Web Developer - The Young Progressives<span>Dec 2010 - July 2011</span></h5>
                <p>Redesigned static website to utilize Wordpress. Massively grew social media presence and became authority in our market. Handled all IT functions.</p>
                <h5>Rebel Green<span>May 2009 - April 2010</span></h5>
                <p>Maintained and updated website and eCommerce (Network Solutions). Converted static site to dynamic for easier updating. Handled customer orders.</p>
                <h5>HR/Operations Manager - Blatz Cafe<span>Feb 2009  - Dec 2009 </span></h5>
                <p>Wrote proposal and started cafe from the ground up. Hired and managed 9 employees, maintained stock, and developed new products, managed IT.</p>
                <h5>Server Admin/President - i2 Laboratories<span>Oct 2008 - Dec 2009 </span></h5>
                <p>Built an EC2-based remote desktop solution. Started a non-profit focused on providing computers to the poor and to schools in Kenya. </p>


                <h2>Education<span class="resume-line">&nbsp;</span></h2>
                    <h5>B.S. Computer Science<span>2009-2013</span></h5>
                        <p>University of Wisconsin - Madison</p>
                    <h5>B.S. Management Information Systems (incomplete)<span>2008-2009</span></h5>
                        <p>Milwauke School of Engineering</p>

            </div>
              <div class="right" >
                    <div class="progress-label">
                        <h4>Python</h4>
                        <h4>Django</h4>
                        <h4>Ubuntu Server</h4>
                        <h4>Javascript/AJAX</h4>
                        <h4>C/C++</h4>
                        <h4>Java</h4>
                    </div>
                    <div class="progress-bars">
                        <div class="progress">
                            <div class="progressBar">
                                <div class="progressValue" style="background-position: -68px 0px;">
                                    <!-- The progress bar will automatically change when you change the value inside the span tag below. -->
                                    <!-- You can also override the value in the title attribue. -->
                                    <span title="">90%</span>
                                </div>
                            </div>
                        </div>  
                        <div class="progress">
                            <div class="progressBar">
                                <div class="progressValue" style="background-position: -36px 0px;">
                                    <!-- The progress bar will automatically change when you change the value inside the span tag below. -->
                                    <!-- You can also override the value in the title attribue. -->
                                    <span title="">80%</span>
                                </div>
                            </div>
                        </div>  
                        <div class="progress">
                            <div class="progressBar">
                                <div class="progressValue" style="background-position: -52px 0px;">
                                    <!-- The progress bar will automatically change when you change the value inside the span tag below. -->
                                    <!-- You can also override the value in the title attribue. -->
                                    <span title="">70%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progressBar">
                                <div class="progressValue" style="background-position: -72px 0px;">
                                    <!-- The progress bar will automatically change when you change the value inside the span tag below. -->
                                    <!-- You can also override the value in the title attribue. -->
                                    <span title="">100%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progressBar">
                                <div class="progressValue" style="background-position: -100px 0px;">
                                    <!-- The progress bar will automatically change when you change the value inside the span tag below. -->
                                    <!-- You can also override the value in the title attribue. -->
                                    <span title="">50%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progressBar">
                                <div class="progressValue" style="background-position: -120px 0px;">
                                    <!-- The progress bar will automatically change when you change the value inside the span tag below. -->
                                    <!-- You can also override the value in the title attribue. -->
                                    <span title="">75%</span>
                                </div>
                            </div>
                        </div>
                    </div>
              
            </div>
          </div>
          </div>
          <div class="clr"></div>
        </div> <!--resume end -->   
{% endblock %}