
        <!-- Services -->
        <div id="services">
         <div class="clr">
        <div class="top-bg1">
          <div class="top-left">
            <div><h1>Services</h1></div>
            </div> 
          </div>
         <div class="clr">
        <div class="pat-bottomleft">&nbsp;</div>
        <div class="pat-bottomright">&nbsp;</div>
        </div>
          </div>
          <div class="clr"><h6>
        <span>Experienced developer and server administrator</span> <br />  
        Professional, scalable web app development and cloud server setup/management.</h6>
          </div>
            <div class="clr hline"></div>

          <div class="clr">
          <div class="service-top">
          <div class="left">
          <big>
          Python<br />
          <span>Django</span><br />
          Ubuntu Server<br />
          <span>Amazon EC2</span><br />
          Minecraft<br />
          </big>
          </div>
          <div class="right">
          <h2>Lobortis risus scelerisque</h2>
         <p>Tortor turpis, vel justo volutpat, dolor proin amet nunc leo ac, non lorem. Eros in lacus est tincidunt, enim aenean, sodalesnunc leo acnunc leo acnunc leo ac nunc leo ac elementumctus dui platea amet magna, elit nam morbi, etiam laoreet. Amet nec repellat  quis laoreet lorum . <br /><br />

Molestie lorem in nulla, nec morbi mi, vestibulum lobortis integer nullam suscipit faucibus. In posuere nulla urna. Metus urna sed platea urna, in mi donec wisi laoreet elit elementum. Egestas nibh cras inceptos risus, in et fusce. Dapibus bibendum est porta, eget pellentesque nulla quisque tellus praesent elefd dd  dgdfg ifend, quis laoreet elit volutpat nunc volutpat nunc sodales nascetur.</p>
          </div>
          <div class="clr"></div>
          </div>
          
          </div>
          <div class="clr hline"></div>
          <div class="service-top1" id="service-box" >
          <h2>What We Do. Our List Of Services.</h2>
          <div  class="clr">
         <div class="wordpress">
             <div align="center"><img src='images/wordpress-img.png'  border="0" height="160" alt=" "/></div>
             <h3>WordPress<br />Customisation</h3>
             <div class="box-line"></div>
             <p>Tempor varius in nascetur nunc neque, adraliquam per pellentesque et duis nunc, est ert mauris vivamus vehicula placerat. Turpis in at pharetra quam. Mauris lacinia quam facilisis scelerisque nulla ametrge.</p>
            </div>
            <div class="empty">&nbsp;</div>
            <div class="jquery">
              <div align="center"><img src='images/jquary-image.png'  border="0" height="160" alt=" " /></div>
              <h3>jQuery <br />Customisation</h3>
              <div class="box-line"></div>
               <p>Tempor varius in nascetur nunc neque, adraliquam per pellentesque et duis nunc, est ert mauris vivamus vehicula placerat. Turpis in at pharetra quam. Mauris lacinia quam facilisis scelerisque nulla ametrge.</p>
            </div>
            <div class="empty">&nbsp;</div>
            <div class="joomla">
              <div align="center"><img src='images/joomla-image.png'  border="0" height="160" alt=" "  /></div>
             <h3>Joomla <br />Customisation</h3>
             <div class="box-line"></div>
               <p>Tempor varius in nascetur nunc neque, adraliquam per pellentesque et duis nunc, est ert mauris vivamus vehicula placerat. Turpis in at pharetra quam. Mauris lacinia quam facilisis scelerisque nulla ametrge.</p>
            </div>
            
            </div>
          </div>
        <div class="clr"></div>  
        </div><!--Services end -->  
