
        <!-- Services -->
        <div id="services">
         <div class="clr">
        <div class="top-bg1">
          <div class="top-left">
            <div><h1>Services</h1></div>
            </div> 
          </div>
         <div class="clr">
        <div class="pat-bottomleft">&nbsp;</div>
        <div class="pat-bottomright">&nbsp;</div>
        </div>
          </div>
          <div class="clr"><h6>
        <span>Experienced developer and server administrator</span> <br />  
        Professional, scalable web app development and cloud server setup/management.</h6>
          </div>
            <div class="clr hline"></div>

          <div class="clr">
          <div class="service-top">
          <div class="left">
          <big>
          Python<br />
          <span>Django</span><br />
          AJAX<br />
          <span>Ubuntu Server</span><br />
          Amazon EC2<br />
          <span>Minecraft</span><br />
          </big>
          </div>
          <div class="right">
          <h2>Scalable, Modern Web Apps</h2>
          <p>Need a web app built for tomorrow? I can do that. Modern web apps need to be scalable. When your app gets media attention, you don't want it to crash. The Django web framework naturally allows apps to scale, and combined with Amazon EC2, your app will use the same infrastructure as Instagram and can grow as large as you could ever need.<br />
          I have been programming Django apps for 3 years and building/maintaining servers even longer. I am also familiar with Javascript and AJAX, which will make your apps easier to interact with and feel like a modern web app. If you need a great web app, I am the developer you are looking for.
          </p>
          </div>
          <div class="clr"></div>
          </div>
          
          </div>
          <div class="clr hline"></div>
          <div class="service-top1" id="service-box" >
          <h2>What I Can Do For You.</h2>
          <div  class="clr">
         <div class="wordpress">
             <div align="center"><img src='images/wordpress-img.png'  border="0" height="160" alt=" "/></div>
             <h3>Django<br />Web Apps</h3>
             <div class="box-line"></div>
             <p>Django is a framework for building scalable web apps. It is used by large sites such as Instagram, Pinterest, and TheOnion.com.</p>
            </div>
            <div class="empty">&nbsp;</div>
            <div class="jquery">
              <div align="center"><img src='images/jquary-image.png'  border="0" height="160" alt=" " /></div>
              <h3>Scalable <br />Hosting</h3>
              <div class="box-line"></div>
               <p>Amazon EC2 gives you unparalleled ability to scale. I can setup and maintain hosting for a single webpage or a massive web app.</p>
            </div>
            <div class="empty">&nbsp;</div>
            <div class="joomla">
              <div align="center"><img src='images/joomla-image.png'  border="0" height="160" alt=" "  /></div>
             <h3>Minecraft <br />Hosting</h3>
             <div class="box-line"></div>
               <p>Minecraft is one of the most popular new games. <a href="http://netherracks.com">NetherRacks</a> is the most stable, easiest to use Minecraft Hosting around. Contact me to get access to the beta.</p>
            </div>
            
            </div>
          </div>
        <div class="clr"></div>  
        </div><!--Services end -->  
